.message{data: {id: "#{message.id}", group_id: "#{message.group_id}"}}
  .message__header
    .message__user-name
      %h2= message.user.name
    .message__date
      %p= message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__text
    - if message.body.present?
      %p.lower-message__content
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
