.result
  %p グループを作成しました
.container
  .sidebar
    .user
      .user__name
        %p testuser
      .icons
        = link_to "#", class: "edit-icon" do
          %i.far.fa-edit
        = link_to "#", class: "config-icon" do
          %i.fas.fa-cog
    .groups
      .group
        .group__name
          %p group1
        .group__last-chat
          %p commentA
      .group
        .group__name
          %p group2
        .group__last-chat
          %p comment2
  .main
    .group-info
      .group-info__wrapper
        .group-info__name
          %h1 group1
        .group-info__member
          %ul.member__list
            %li.member__list_title Member :
            %li.member aaaaaa
            %li.member bbbbbb
            %li.member cccccc
      .group-info__edit
        = link_to 'Edit', "#", class: "edit-btn"
    .messages
      .message
        .message__header
          .message__user-name
            %h2 aaaaaa
          .message__date
            %p 2019/04/02(Tue) 19:12:37
        .message__text
          %p commentA
      .message
        .message__header
          .message__user-name
            %h2 bbbbbb
          .message__date
            %p 2019/04/05(Fri) 13:02:11
        .message__text
          %p commentB
    .form
      = form_for @message, html: {class: 'form__input'} do |f|
        .input-box
          = f.text_field :body, {:name=>"text", :placeholder=>"type a message", :class=>"text_field"}
          = link_to "#", class: "image-icon" do
            %i.far.fa-image
        = f.submit "Send", {:class=>"input__btn"}
