.sidebar
  .user
    .user__name
      %p
        = current_user.name
    .icons
      = link_to new_group_path do
        %i.far.fa-edit
      = link_to edit_user_path(current_user), class: "config-icon" do
        %i.fas.fa-cog
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          .group__name
            = group.name
          .group__last-chat
            = group.show_last_message
